@use "sass:color";

// Colors
// $primary-color: #734f96;
// $primary-color: #9279ba;
$primary-color: #a55166;
$primary-color-dark: color.adjust($primary-color, $lightness: -5%);
$primary-color-light: color.adjust($primary-color, $lightness: 5%);

$secondary-color: #f5f5f5;
$secondary-color-dark: color.adjust($secondary-color, $lightness: -5%);
$secondary-color-light: color.adjust($secondary-color, $lightness: 5%);

$text-color: #4e4e4e;
$text-color-light: color.adjust($text-color, $lightness: 25%);
$text-color-dark: color.adjust($text-color, $lightness: -5%);

$heading-color: #333333;
$secondary-text: #6c757d;

$dark-text: #191919;
$light-text: white;

$dark-bg: #191919;
$light-bg: #f5f5f5;

// Shadows
$card-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
$card-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.1);

// Border
$border-color: #eaeaea;

// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Misc
$border-radius: 4px;
$transition-speed: 0.2s;
$navbar-height: 90px;
