@use 'sass:color';
@use '../../styles/variables' as vars;

// Timeline container
.timelineContainer {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  
  @media (max-width: 940px) {
    flex-direction: column;
    gap: 60px;
  }
}

.cardVariant {
  .timelineContent {
    border-radius: 8px;
    background-color: vars.$secondary-color-light;
    box-shadow: vars.$card-shadow;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      left: -10px;
      top: 23px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid vars.$secondary-color-light;
    }
  }

  .timelineItems {
    .timelineItem {
      padding-left: 25px;
    }

    &::before {
      top: 15px;
    }
  }
}

// Timeline column
.timelineColumn {
  flex: 1;
  position: relative;
  width: 100%;
}

.timelineHeading {
  margin: 0 0 30px 0;
}

.timelineItems {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0px;
    width: 2px;
    background-color: vars.$primary-color-light;
    z-index: 0;
    opacity: 0.8;
    height: calc(100% - 35px);
  }
}

// Timeline item
.timelineItem {
  position: relative;
  padding-left: 10px;
  padding-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  
  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  &:last-child {
    padding-bottom: 0;
  }

  @media (max-width: vars.$breakpoint-md) {
    padding-left: 0px;
  }
}

.timelineContent {  
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.timelineDot {
  position: absolute;
  left: -6px;
  top: 25px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: vars.$primary-color-light;
  z-index: 1;
  transform: scale(0);
  transition: transform 0.6s ease 0.3s;
  
  .animate & {
    transform: scale(1);
  }
}
