@use "sass:color";
@use "../../styles/variables" as vars;

.credentialId {
  font-size: 12px;
  font-family: monospace;
  background-color: vars.$secondary-color-dark;
  padding: 3px 6px;
  border-radius: 4px;
  display: inline-block;
}