@use "sass:color";
@use "../../styles/variables" as vars;

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 90px 0 120px 0;
  position: relative;

  @media (max-width: vars.$breakpoint-md) {
    padding: 40px 0;
  }

  &.sectionHighlighted {
    background-color: vars.$secondary-color-light;
  }

  .sectionInner {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }

  .sectionTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;

    &.sectionTitleLeft {
      align-items: flex-start;

      .sectionTitleContainer {
        text-align: left;
      }
    }

    &.sectionTitleCenter {
      align-items: center;

      .sectionTitleContainer {
        text-align: center;
      }
    }

    &.sectionTitleRight {
      align-items: flex-end;

      .sectionTitleContainer {
        text-align: right;
      }
    }
  }

  .sectionTitleContainer {
    margin-bottom: 1rem;
  }

  .sectionHeading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .sectionSubheading {
    font-size: 1.1rem;
    font-weight: 400;
    color: vars.$text-color-light;
    margin-top: 0.5rem;
  }

  .sectionDivider {
    width: 80px;
    height: 3px;
    background-color: vars.$primary-color;
    margin-top: 0.75rem;
  }

  .sectionContent {
    width: 100%;
  }
}
