@use "sass:color";
@use "../../styles/variables" as vars;
.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(74, 74, 74, 0.15);
  // background-color: rgb(147 218 215 / 20%);
  // background-color: #faf3e0;
  // background-color: rgba(204, 122, 87, 0.3);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 0;
  transition: transform 0.1s ease-out;
  opacity: 0.05;
  background-color: vars.$dark-bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
