@use "sass:color";
@use "../../styles/variables" as vars;

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // Subtle overlay that matches Hero gradient and loader background
  // Uses a light tint that blends with both Hero's gradient and loader's light-bg
  // background-color: rgba(74, 74, 74, 0.15);
  background-color: rgb(197 103 64 / 10%);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 0;
  transition: transform 0.1s ease-out;
  opacity: 0.05;
  background-color: vars.$dark-bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
